<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
<h2>Logistics Company Home Page</h2>
<hr>
<p>Welcome to the Logistics Company Home Page!</p>
<hr>
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role: <span sec:authentication="principal.authorities"></span>
</p>
<hr>
<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{/leaders}">Leadership Meeting</a> (Only for Manager peeps)
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/systems}">IT Systems Meeting</a> (Only for Admin peeps)
</div>
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>

<html>